<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="ngVineyardApp">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid" id="wrapper" ng-controller="WineListCtrl" >
      
      <div class="row" id="header">
        <div class="jumbotron">
          <h1>Vineyard Inventory</h1>
          <p>Browse our selection of wines from across the world. These are guarenteed to satisfy even the most sophisticated of palettes.</p>
          <button class="btn btn-default glyphicon glyphicon-plus new-btn" type="button" ng-click="edit(-1, -1, true)"></button>
        </div>
      </div>
      <div class="clearfix">&nbsp;</div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="wine in wines" id="wine-{{$index}}">
          
          <div class="panel" ng-class="{'panel-danger': wine.Color.toLowerCase() == 'red', 'panel-warning': wine.Color.toLowerCase() == 'white'}">
            <div class="panel-heading">
              <strong>{{wine.Name}}</strong>
              <button class="btn btn-default glyphicon glyphicon-remove pull-right btn-xs" type="button"></button>
              <button class="btn btn-default glyphicon glyphicon-edit pull-right btn-xs" type="button" ng-click="edit($index, wine, false)"></button>
              <div class="clearfix"></div>
            </div>
            <div class="list-group-item" ng-repeat="(attr, x) in wine" ng-hide="attr=='Color' || attr=='Characteristics' || attr=='Name'">
              <h4 class="list-group-item-heading">{{attr}}</h4>
              <p class="list-group-item-text">{{x}}</p>
            </div>
            
            <div class="list-group-item">
              
              <h4 class="list-group-item-heading">Characteristics</h4>
              <div class="progress" ng-repeat="(char,val) in wine.Characteristics">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{val}}%"><span>{{char}}</span></div>
              </div>
              
            </div>
            
          </div>
        </div>
        
      </div>
  </div>
  </div>
  
  
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/WineListCtrl.js"></script>
  <script src="scripts/services/WineJSONsvc.js"></script>
  
</body>
</html>